<div class="col-sm-3 col-md-3 col-lg-3" style="padding-left: 0">
    <nav class="left-menu">
        <ul class="left-menu-nav">

            <li>
                <a href="#/userHome">
                    <i class="fui-home">
                    </i>
                    <span class="nav-text">
                        Home
                    </span>
                </a>
            </li>
            <hr style="border-top-color: white;margin-left: 22px;margin-right: 22px">
            <li>
                <a>
                    <i class="fui-user"> </i>
                    <span class="nav-text">
                        Profile
                    </span>
                </a>
            </li>
            <li>
                <a>
                    <i class="fui-bookmark">
                    </i>
                    <span class="nav-text">
                        Assigned Workouts
                    </span>
                    <div class="notification">
                        <small>1</small>
                    </div>
                </a>
            </li>
            <li>
                <a>
                    <i class="fui-location">
                    </i>
                    <span class="nav-text">
                        Tools
                    </span>
                </a>
            </li>
            <hr style="border-top-color: white;margin-left: 22px;margin-right: 22px">
            <li>
                <a href="#/workouts">
                    <i class="fui-document">
                    </i>
                    <span class="nav-text">
                        Workouts
                    </span>
                </a>
            </li>
            <li>
                <a href="#/exercises" class="current">
                    <i class="fui-document">
                    </i>
                    <span class="nav-text">
                        Exercises
                    </span>

                </a>
            </li>
            <hr style="border-top-color: white;margin-left: 22px;margin-right: 22px">
            <li>
                <a>
                    <i class="fui-gear">
                    </i>
                    <span class="nav-text">
                        Settings
                    </span>
                </a>
            </li>
            <li>
                <a>
                    <i class="fui-exit">
                    </i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<div class="col-sm-9 col-md-9 col-lg-9" style="padding-left: 0">
    <div class="container-fluid">
        <div class="col-sm-12">
            <div class="col-xs-4">
                <div class="form-group">
                    <div class="input-group input-group-rounded">
                  <span class="input-group-btn">
                    <button class="btn" type="submit"><span class="fui-search"></span></button>
                  </span>
                        <input ng-model="q" id="search" class="form-control" placeholder="Search">
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <select class="form-control select select-primary select-block mbl"  >
                    <optgroup label="Body Part">
                        <option value="0">All</option>
                        <option value="1">Biceps</option>
                        <option value="2">Back</option>
                        <option value="3">Chest</option>
                        <option value="4">Triceps</option>
                    </optgroup>
                </select>

            </div>
            <div class="col-xs-4">

            </div>
        </div>
        <div class="col-sm-12">

            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3" dir-paginate="ex in exercises | filter:q | itemsPerPage: pageSize" current-page="currentPage">
                <div class="panel panel-primary">
                    <div class="panel-heading">

                        <h5 style="font-size: 14px;text-align: center" class="panel-title">{{ex.name}}</h5>
                        <hr style="margin: 3px;border-top-color: white">
                        <div style="padding-bottom: 8px">
                            <span style="font-size: 12px" class="panel-title pull-left">Rating: 4</span>
                            <span style="font-size: 12px" class="panel-title pull-right">Comments: 4</span>
                        </div>

                    </div>
                    <div class="panel-body" style="margin: 0;padding: 0">
                        <div class="btn-group " style="width: 100%">


                            <button type="button" class="btn btn-sm btn-info"
                                    style="width:100%;border-top-right-radius: 0;border-top-left-radius: 0">
                                <i class="fui-info-circle"></i>
                            </button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-sm-12">
            <div ng-controller="OtherController" class="other-controller">
                <div class="text-center">
                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/views/dirPagination.tpl.ejs"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>

</div>
