<div class="container">
    <br>
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-body">
                <h4>Password Reset</h4>
                <hr>
                <form class="form-horizontal" role="form">
                    <div class="form-group has-feedback">
                        <label for="inputUsername" class="col-sm-12 control-label" style="text-align:left;">Please enter the email associated to the account:</label>

                            <div class="col-lg-12">
                                <input type="email"
                                       class="form-control"
                                       placeholder="Email"
                                       ng-model="user.email">
                                <span class="form-control-feedback fui-checkbox-unchecked" ng-show="!user.email"> </span>
                                <span class="form-control-feedback fui-checkbox-checked" ng-show="user.email"> </span>
                            </div>
                        </div>
                </form>
                <hr>
                <button class="btn btn-primary btn-lg pull-right" ng-click="passwordReset(user.email)">Send</button>
            </div>
        </div>
    </div>
</div>