<div class="bg-pic">
<div class="container">
    <br>
    <span us-spinner spinner-theme="bigBlue" spinner-key="spinner-1"></span>

    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-primary main-page-jumbo">
            <div class="panel-body">
                <h4>Password Reset</h4>
                <hr>
                <form class="form-horizontal" role="form">
                    <div class="form-group has-feedback">
                        <label for="inputUsername" class="col-sm-12 control-label" style="text-align:left;">Please enter
                            the email associated to the account:</label>

                            <div class="col-lg-12">
                                <input type="email"
                                       class="form-control"
                                       placeholder="Email"
                                       ng-model="user.email">
                                <span class="form-control-feedback fui-checkbox-unchecked" ng-show="!user.email"> </span>
                                <span class="form-control-feedback fui-checkbox-checked" ng-show="user.email"> </span>
                            </div>
                        </div>
                </form>
                <hr>
                <div class="btn-block">
                    <button class="btn btn-primary btn-lg" style="width: 100%" ng-click="passwordReset(user.email)">
                        Send
                    </button>
                </div>
            </div>
            </div>
        </div>
</div>
</div>