
    <div id="myCarousel" class="carousel slide" data-ride="carousel" >
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="first-slide img-responsive center-block" src="/img/HomeImg.jpg" alt="First slide" >
                <div class="container">
                    <div class="carousel-caption">
                        <div class="container" style="text-align: center">
                            <h1>Welcome to APfitness</h1>
                            <p>APfitness is a complete custom workout planner. Create your own fitness program from our comprehensive list of exercises.</p>
                            <br>
                            <button class="btn btn-primary btn-lg" ng-click="navigate('/register')">Sign Up</button>
                            <button class="btn btn-primary btn-lg" ng-click="navigate('/login')">Log in</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="container">
        <div style="padding-bottom: 20px"></div>
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <img  src="/img/clipboard.png" alt="..." class="img-rounded" width="100px" height="100px">
                <h3>Plan your Workouts</h3>
                <p>Using the custom workout creator plan your gym sessions with endless amounts of gym routines.</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-6 text-center">
                <img src="/img/calendar.png" alt="..." class="img-rounded" width="100px" height="100px">
                <h3> Calender Support</h3>
                <p>Import your existing google calander events into your exercise planner to seemlessly plan your workouts around your current schedule.</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 col-md-6 text-center">
                <img src="/img/user-interface.png" alt="..." class="img-rounded" width="100px" height="100px">
                <h3>Share Workouts</h3>
                <p>APfitness lets you share your custom created workouts. So you can browse and rate your favourite ones.</p>
            </div><!-- /.col-lg-4 -->
        </div>
        <br>
    </div>
</div>
