
    <br>
    <div class="container-fluid">
        <div class="col-sm-3">
            <div style="text-align: center">
                <img class="img-responsive" src="/img/profile.jpg">

                <p> {{data[0].first_name}} {{data[0].last_name}}</p>

                <p>{{data[0].email}}</p>

                <p>{{data[0].gender}}</p>

                <p>{{data[0].weight}} kg</p>
            </div>
        </div>


        <div class="col-sm-9">
            <div class="col-sm-6">
                <div class="col-sm-12" style="background-color: #16a085;color: white;padding: 5px;text-align: center">
                    Weight Tracker
                </div>
                <div class="col-sm-12"
                     style="background-color: #ffffff;padding: 5px;text-align: center">

                    <canvas id="line" class="chart chart-line" chart-data="chartdata"
                                chart-labels="labels" chart-legend="true" chart-series="series"
                                chart-click="onClick" chart-colours="">
                        </canvas>
                    <h1 ng-hide="chartdata">No Data</h1>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-12" style="background-color: #16a085;color: white;padding: 5px;text-align: center">
                    Recent Workouts
                </div>
                <div class="col-sm-12"
                     style="background-color: #ffffff;padding: 5px;text-align: center; height: 200px">
                    <h4 ng-show="!recent_workouts">No Workouts have been completed :-(</h4>

                    <div style="overflow-y: scroll;overflow-x:hidden;height: 175px">
                        <table class="table">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="workout in recent_workouts">
                                <th>{{$index+1}}</th>
                                <th>{{workout.workoutName}}</th>
                                <th>
                                    <button class="btn btn-xs"><i class="fui-search"></i></button>
                                </th>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>


        </div>

    </div>
