<div class="col-sm-3 col-md-3 col-lg-3" style="padding:0;margin: 0">
    <nav class="left-menu">
        <ul class="left-menu-nav">

            <li>
                <a href="#/userHome">
                    <i class="fui-home">
                    </i>
                    <span class="nav-text">
                        Home
                    </span>
                </a>
            </li>

            <hr style="border-top-color: white;margin-left: 22px;margin-right: 22px">
            <li>
                <a>
                    <i class="fui-list">
                    </i>
                    <span class="nav-text">
                        Fourm
                    </span>
                </a>
            </li>
            <li>
                <a href="#/assigned">
                    <i class="fui-bookmark">
                    </i>
                    <span class="nav-text">
                        Assigned Workouts
                    </span>
                </a>
            </li>
            <hr style="border-top-color: white;margin-left: 22px;margin-right: 22px">
            <li>
                <a href="#/workouts">
                    <i class="fui-document">
                    </i>
                    <span class="nav-text">
                        Workouts
                    </span>
                </a>
            </li>
            <li>
                <a href="#/exercises">
                    <i class="fui-document">
                    </i>
                    <span class="nav-text">
                        Exercises
                    </span>

                </a>
            </li>
            <hr style="border-top-color: white;margin-left: 22px;margin-right: 22px">
            <li>
                <a>
                    <i class="fui-location">
                    </i>
                    <span class="nav-text">
                        Tools
                    </span>
                </a>
            </li>
            <li>
                <a>
                    <i class="fui-gear">
                    </i>
                    <span class="nav-text">
                        Settings
                    </span>
                </a>
            </li>
            <li>
                <a>
                    <i class="fui-exit">
                    </i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="col-sm-9 col-md-9 col-lg-9" style="padding-left: 0">
    <div class="container-fluid">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <h3>{{data[0].first_name}} {{data[0].last_name}}</h3>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="col-sm-12" style="background-color: #16a085;color: white;padding: 5px;text-align: center">
                Recent Workouts
            </div>
            <div class="col-sm-12"
                 style="background-color: #5bc0de;color: white;padding: 5px;text-align: center; height: 200px">
                No Workouts have been completed :-(
            </div>
        </div>
        <div class="col-sm-6">
            <div class="col-sm-12" style="background-color: #16a085;color: white;padding: 5px;text-align: center">
                Weight Tracker
            </div>
            <div class="col-sm-12"
                 style="background-color: #5bc0de;color: white;padding: 5px;text-align: center; height: 200px">
                <h1>No Data</h1>
            </div>
        </div>
    </div>
</div>