<div class="bg-pic">
<div class="container">
    <br>
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="panel panel-primary main-page-jumbo">
            <div class="panel-body">
                <h4>Register</h4>
                <hr>
                    <form class="form-horizontal" role="form">
                        <div class="form-group has-feedback">
                            <label class="col-lg-12 control-label pull-left" style="text-align:left;">Email:</label>
                            <div class="col-lg-12">
                                <input type="email"
                                    class="form-control"
                                    placeholder="Email"
                                       name="email"
                                    ng-model="user.email">
                                <span class="form-control-feedback fui-checkbox-unchecked" ng-show="!user.email"> </span>
                                <span class="form-control-feedback fui-checkbox-checked" ng-show="user.email"> </span>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="col-lg-6 control-label" style="text-align:left;" >Password:</label>
                            <label class="col-lg-6 control-label" style="text-align:left;">Confirm Password:</label>
                            <div class="col-lg-6">
                                <input type="password"
                                    class="form-control"
                                    placeholder="Password"
                                       name="password"
                                    ng-model="user.password">
                                <span class="form-control-feedback fui-checkbox-unchecked" ng-show="!user.password || user.password.length < 5"></span>
                                <span class="form-control-feedback fui-checkbox-checked" ng-show="user.password && user.password.length > 4"></span>
                            </div>
                            <div class="col-lg-6">
                                <input type="password"
                                       class="form-control"
                                       placeholder="Password"
                                       name="passwordConfirm"
                                       ng-model="user.passwordConfirm">
                                <span class="form-control-feedback fui-checkbox-unchecked" ng-show="(user.password != user.passwordConfirm) || !user.passwordConfirm"></span>
                                <span class="form-control-feedback fui-checkbox-checked" ng-show="(user.password == user.passwordConfirm) && user.passwordConfirm"></span>
                            </div>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input ng-model="user.google_user" type="checkbox"> Do you want to sync your google
                                calendar on startup?
                            </label>
                        </div>
                    </form>
                <hr>
                <div class="btn-block">
                    <button type="submit" class="btn btn-primary btn-lg" style="width: 100%"
                            ng-click="register(user.email, user.password,user.passwordConfirm,user.google_user)">
                        Register
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
</div>