


    <br>
    <!--<div class="col-sm-3">-->
    <!--<button class="btn btn-primary pull-right" ng-click="createWorkout()">Create Workout</button>-->
    <!--</div>-->
    <div class="col-xs-12">

        <div ui-calendar="uiConfig.calendar" ng-model="eventSources" class="calendar" id="myCalendar3"></div>
    </div>
