


    <br>
    <!--<div class="col-sm-3">-->
    <!--<button class="btn btn-primary pull-right" ng-click="createWorkout()">Create Workout</button>-->
    <!--</div>-->
    <div class="col-sm-9">

        <div ui-calendar="uiConfig.calendar" ng-model="eventSources" class="calendar" id="mycalendar1"></div>
    </div>
    <div class="col-sm-3">
        <button class="btn btn-primary" ng-click="createWorkout()" style="width: 100%;margin-bottom: 10px"> Create
            Workout
        </button>
        <!--<div class="btn-group">-->
        <!--<button class="btn btn-success" ng-click="changeView('agendaWeek', 'mycalendar1')">AgendaWeek</button>-->
        <!--<button class="btn btn-success" ng-click="changeView('month', 'mycalendar1')">Month</button>-->
        <!--</div>-->

    </div>
