<div class="container">
    <div class="col-sm-2 col-md-2 col-lg-2">
        <ul class="nav nav-list">
            <li class="active">
                <a href="#">
                    <i class="fui-home"> </i> Home
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                     <i class="fui-document"> </i> Workouts
                    <span class="badge pull-right">42</span>
                </a>
            </li>
            <li>
                <a href="#">
                    Exercises
                    <span class="badge pull-right">21</span>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    Tools
                </a>
            </li>
        </ul>
    </div>

    <div class="col-sm-10 col-md-10 col-lg-10" >
            <div class="panel panel-default" style="margin: 0px">

                <div class="panel-body">
                    <div ui-calendar="uiConfig.calendar" ></div>
                </div>
            </div>
    </div>
</div>