<br>
    <div class="col-sm-2 col-md-2 col-lg-2">
        <ul class="nav nav-list">
            <li class="active">
                <a href="#">
                    <i class="fui-calendar"> </i> Home
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <i class="fui-user"> </i> Profile
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fui-bookmark"> </i> Assigned Workouts
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                     <i class="fui-document"> </i> Workouts
                    <span class="badge pull-right">42</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fui-document"> </i> Exercises
                    <span class="badge pull-right">21</span>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                      Tools
                </a>
            </li>

            <li class="divider"></li>

            <li>
                <a href="#">
                    <i class="fui-gear"> </i> Settings
                </a>
                <a ng>
                    <i class="fui-exit"> </i> Logout
                </a>
            </li>
        </ul>
    </div>

    <div class="col-sm-10 col-md-10 col-lg-10" >
        <div class="container-fluid">
            <div class="panel panel-default" style="margin: 0px">

                <div class="panel-body">
                    <button class="btn btn-info" ng-click="user()">get user</button>
                    <p>{{data}}</p>

                </div>
            </div>

    </div>
</div>