<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="App" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="App" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="App" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="App" ng-controller="HomePageCtrl">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AP Fitness</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--css -->
  <link rel="stylesheet" href="css/app.css" />
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrapXL.css" rel="stylesheet">
  <link href="css/flat-ui-pro.css" rel="stylesheet">
  <link href="css/fullcalendar.css" rel="stylesheet">
  <link href="css/toastr.css" rel="stylesheet">


  <!--Main js files-->
  <script src="/javascripts/scripts/jquery.min.js"></script>
  <script src="/javascripts/Scripts/vendor/video.js"></script>
  <script src="/javascripts/Scripts/flat-ui-pro.js"></script>
  <script src="/javascripts/Scripts/prettify.js"></script>
  <script src="/javascripts/Scripts/application.js"></script>
  <script src="/javascripts/Scripts/application-docs.js"></script>
  <script src="/javascripts/scripts/moment.min.js"></script>


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
  <script src="/javascripts/scripts/angular-touch/angular-touch.min.js"></script>
  <script src="/javascripts/scripts/angular-toastr.js"></script>
  <script src="/javascripts/scripts/angular-route.js"></script>
  <script src="/javascripts/scripts/calendar.js"></script>
  <script src="/javascripts/scripts/fullcalendar.js"></script>
  <script src="/javascripts/scripts/dirPagination.js"></script>
  <script src="/javascripts/scripts/ngDraggable.js"></script>

  <!-- Angular files-->
  <script src="/javascripts/angularApp.js"></script>
  <script src="/javascripts/mainCtrls/HomePageCtrl.js"></script>
  <script src="/javascripts/mainCtrls/AdminUserCtrl.js"></script>
  <script src="/javascripts/mainCtrls/AssignedWorkoutsCtrl.js"></script>
  <script src="/javascripts/mainCtrls/CreateWorkoutCtrl.js"></script>
  <script src="/javascripts/mainCtrls/ExerciseCtrl.js"></script>
  <script src="/javascripts/mainCtrls/ExerciseModalCtrl.js"></script>
  <script src="/javascripts/mainCtrls/PasswordResetCtrl.js"></script>
  <script src="/javascripts/mainCtrls/ProfileCtrl.js"></script>
  <script src="/javascripts/mainCtrls/userHomeCtrl.js"></script>
  <script src="/javascripts/mainCtrls/WorkoutCtrl.js"></script>

  <script src="/javascripts/scripts/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
  <script src="/javascripts/mainServices/mainServices.js"></script>
  <script src="/javascripts/mainServices/directives.js"></script>
  <script src="/javascripts/navigation/navCtrl.js"></script>
  <script src="/javascripts/mainServices/directives.js"></script>

</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top" >
     <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>

       <a class="navbar-brand" style="font-size: 36px;margin-bottom: 10px"> <img class="img-circle pull-left"
                                                                                 src="img/fit.svg" height="35px">APfitness<img
                 class="img-circle pull-right" style="transform: rotate(180deg); margin-left: 5px" src="img/fit.svg"
                 height="35px"></a>
     </div>
    <div class="collapse navbar-collapse" id="navbar">
      <form class="navbar-form navbar-right" action="#" role="search">
        <div class="form-group">

          <p ng-show="user[0]" class="navbar-text navbar-right"><a class="navbar-link" href="#/profile"><i
                      class="fui-user"></i> {{user[0].first_name}} {{user[0].last_name}} </a></p>

        </div>
      </form>
    </div>
  </nav>

  <div class="container-fluid" style="padding-left: 0px;padding-right: 0px">

      <div ng-view></div>

  </div>


</body>
<footer class="footer" ng-hide="auth.isAuthenticated">
  <div class="bottom-menu bottom-menu-inverse">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-2">
          <a class="bottom-menu-brand" href="#fakelink">APfitness</a>
        </div>
        <div class="col-md-8 col-sm-8">

        </div>
        <div class="col-md-2 col-sm-2">
          <ul class="bottom-menu-iconic-list">
            <li><a class="fui-pinterest" href="#fakelink"></a></li>
            <li><a class="fui-facebook" href="#fakelink"></a></li>
            <li><a class="fui-twitter" href="#fakelink"></a></li>
          </ul>
        </div>
      </div>
    </div>
    </div>

</footer>

</html>