@media (min-height: 360px) {
    .carousel {
        min-height: 140px;

    }
    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
        z-index: 10;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 140px;
        background-color: #777;
    }
    .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 140px;
    }


}
@media (min-height: 768px) {
    .carousel {
        min-height: 240px;

    }
    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
        z-index: 10;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 240px;
        background-color: #777;
    }
    .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 240px;
    }


}

@media (min-height: 960px) {
    .carousel {
        min-height: 400px;
        margin-bottom: 60px;
    }
    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
        z-index: 10;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 400px;
        background-color: #777;
    }
    .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 400px;
    }


}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 52px;
}

.footer {
    height: 108px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

