@media (min-height: 360px) {
    .carousel {
        min-height: 250px;

    }
    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
        z-index: 10;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 250px;
        background-color: #777;
    }
    .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 250px;
    }


}
@media (min-height: 768px) {
    .carousel {
        min-height: 300px;

    }
    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
        z-index: 10;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 300px;
        background-color: #777;
    }
    .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 300px;
    }


}

@media (min-height: 960px) {
    .carousel {
        min-height: 400px;
        margin-bottom: 60px;
    }
    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
        z-index: 10;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 400px;
        background-color: #777;
    }
    .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 400px;
    }
}

@media screen and (max-width: 768px) {

    .left-menu-create {
        background-color: #2c3e50;
        display: inline-block;
        position: fixed;
        width: 50%;
        height: 100%;
        padding-right: 10px;
        padding-left: 10px;

    }
}

@media screen and (min-width: 769px) {

    .left-menu-create {
        background-color: #2c3e50;
        display: inline-block;
        position: fixed;
        width: 24%;
        height: 100%;
        padding-right: 10px;
        padding-left: 10px;

    }
}

.left-menu{
    background-color: #2c3e50;
    display: inline-block;
    width: 24%;
    position: fixed;
    height: 100%;

}

.left-menu-nav{
    padding-left: 0;
}

.left-menu-nav li > a > i{
    font-size: 24px;
}

.left-menu-nav li a.current{
    color: #ffffff;
    background:#16a085;
}
.left-menu-nav li a:hover{
    color: #ffffff;
    background:#1abc9c;
}
.left-menu-nav > li > a{
    color: white;
    display: block;
    height: 52px;
    line-height: 52px;
    width:100%;
    padding-left: 22px;

}

.nav-text{
    position: absolute;
    padding-left: 22px;

}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 71px;
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}

.footer {
    height: 108px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.exercise-label {
    background-color: #3498db;
    color: white;
    font-size: 14px;
    text-align: center;
}
.workout-label {
    background-color: #3498db;
    color: white;
    font-size: 14px;
    text-align: center;
}

.panel-blue {
    border-color: #3498db;
}

.panel-blue > .panel-heading {
    color: #fff;
    background-color: #3498db;
    border-color: #3498db;
}

.panel-blue > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #3498db;
}

.panel-blue > .panel-heading .badge {
    color: #3498db;
    background-color: #fff;
}

.panel-blue > .panel-footer {
    color: #fff;
}

.panel-blue > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #3498db;
}

.panel-green {
    border-color: #16a085;
}
.panel-green > .panel-heading {
    color: #fff;
    background-color: #16a085;
    border-color: #16a085;
}
.panel-green > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #16a085;
}
.panel-green > .panel-heading .badge {
    color: #16a085;
    background-color: #fff;
}
.panel-green > .panel-footer {
    color: #fff;
}
.panel-green > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #16a085;
}
.center-t{
    text-align: center;
}

.myGrid {
    width: 100%;
    height: 300px;
}

@media screen and (max-width: 769px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -50%; /* 6 columns */
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -50%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 50%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 50%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%; /* 6 columns */
    }
}
.modal {
    display: block;
}

.myGrid {
    width: 100%;
    height: 250px;
}

.profileGrid {
    width: 100%;
    height: 200px;
}

.tab-content {
    padding: 0 !important;
    margin-bottom: 0 !important;
    border: none !important;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.main-page-jumbo {
    margin-top: 50px !important;
    background-color: rgba(255, 255, 255, 0.9) !important;
}

.bg-pic {
    position: fixed;
    top: 0;
    left: 0;

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;

    background: url(/img/HomeImg.jpg) no-repeat;
    background-size: cover !important;

}

.spinner {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    opacity: 0.8;
    z-index: 1001;
}

.fc-left > h2 {
    font-size: 28px !important;
}