
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close fui-cross" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Modal header</h4>
            </div>

            <div class="modal-body">
                <p>Modal content</p>
            </div>

            <div class="modal-footer">
                <a href="#" class="btn btn-default btn-wide">It’s ok</a>
                <a href="#" class="btn btn-primary btn-wide">Turn it off now.</a>
            </div>
        </div>
