<div class="modal-content">
    <div class="modal-header" style="background-color: #16a085;color: white">
        <button type="button" class="close fui-cross" ng-click="close()" aria-hidden="true"
                style="color: white"></button>
        <h4 class="modal-title" style="text-align: center">{{exercise.name}}</h4>
    </div>

    <div class="modal-body" style="padding: 0">


        <iframe width="100%" height="315" ng-src="{{videoUrl}}" frameborder="0"
                    allowfullscreen></iframe>

        <div class="col-sm-12" style="padding: 0">
            <div class="panel panel-default" style="margin: 0">
                        <div class="panel-heading">
                            <img src="img/chat.svg" height="20px" style="padding-right: 5px"> Comments
                            <span class="pull-right" ng-click="openComment(exercise)"><i class="fui-plus"></i></span>
                        </div>
                    </div>
            <div class="panel-body" style="border: 2px solid #16a085">
                        <div style="overflow-y: scroll;overflow-x:hidden;height: 150px">
                            <div ng-repeat="comment in comments">

                                <div class="row" style="height: 75px">
                                    <div class="col-sm-3">
                                        <img class="img-circle" src="img/anyone.png" height="75px">
                                    </div>
                                    <div class="col-sm-7">
                                        <p style="margin: 0;font-weight: bolder">{{comment.first_name}}
                                            {{comment.last_name}} - <span class="text-info"
                                                                          style="font-size: 12px;margin: 0">{{comment.date_created}}</span>
                                        </p>

                                        <p>{{comment.description}}</p>
                                    </div>
                                    <div class="col-sm-2">
                                        <i class="glyphicon glyphicon-remove text-danger "
                                           ng-show="comment.userID == userID" ng-click="deleteComment(comment)"></i>
                                    </div>
                                </div>

                            </div>
                            <h2 style="text-align: center" ng-show="comments.length == 0">No Comments !!</h2>

                        </div>
                    </div>
                </div>
    </div>
    <div class="modal-footer">
    </div>
</div>